<div class="content-wrapper">

    <!--  Header Name : Header with TopBar-->
<nav
  class="navbar bg-white shadow navbar-expand-lg flex-column ">
  <div class="topbar dark-wrapper inverse-text w-100 d-none d-lg-block">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="mr-auto">
        <ul class="icon-list list-unstyled list-inline mb-0">
          <li class="list-inline-item"><i class="icofont-envelope"></i><a
              routerLink="mailto:info@vishvena.com"
              class="nocolor">{{email}}</a></li>
          <li class="list-inline-item"><i class="icofont-ui-dial-phone"></i><a routerLink='tel:+918296348166' style='color: white;'>+91 8296348166</a>
          </li>
        </ul>
      </div>
      <div class="ms-auto">
        <ul class="social social-mute social-s ms-auto text-right">
          
          
		  <li><a routerLink="https://twitter.com/vishvenatech" target="_blank"><i class="jam jam-twitter"></i></a></li>
          
          
		  <li><a routerLink="https://www.facebook.com/vishvena/" target="_blank"><i class="jam jam-facebook"></i></a></li>
          
          
		  <li><a routerLink="https://www.instagram.com/vishvena_official/" target="_blank"><i class="jam jam-instagram"></i></a></li>
          
          
		  <li><a routerLink="https://www.youtube.com/@vishvena" target="_blank"><i class="jam jam-youtube"></i></a></li>
          
          
		  <li><a routerLink="https://www.pinterest.com/vishvenatech/" target="_blank"><i class="jam jam-pinterest"></i></a></li>
          
        </ul>
      </div>
    </div>
    <!--/.container -->
  </div>
  <!--/.topbar -->
  <div class="container">
    <div class="navbar-brand">
      <a routerLink="index.html">
        
      
      <img src="/images/vishvena-logo.png"
        srcset="/images/vishvena-logo.png 1x, /images/vishvena-logo.png 2x"
        class=" logo  "
        alt="Vishvena - Let's Build" />
        
      </a>
    </div>
    <div class="navbar-other ms-auto order-lg-3">
      <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
        <li class="nav-item">
          <div class="navbar-hamburger d-lg-none d-xl-none ms-auto">
            <button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button>
          </div>
        </li>
        <li class="dropdown search-dropdown position-static nav-item">
          <a routerLink="#" role="button" class="collapse-toggle" data-toggle="collapse" data-target=".search-dropdown-menu"
            aria-haspopup="true" aria-expanded="false"><i class="jam jam-search"></i></a>
          <div class="dropdown-menu search-dropdown-menu w-100 collapse">
            <div class="form-wrapper">
              <form class="inverse-text">
                <input type="text" id="search-input" class="form-control" placeholder="Search blog posts.." />
              </form>
              <!-- /.search-form -->
              <i class="dropdown-close jam jam-close"></i>
            </div>
            <!-- /.form-wrapper -->
            <ul id="results-container" class="position-static"></ul>
          </div>
        </li>
        <li class="nav-item"><button class="plain" data-toggle="offcanvas-info"><i class="jam jam-info"></i></button>
        </li>
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
    <div class="navbar-collapse offcanvas-nav" data-sm-skip-collapsible-behavior="true">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <a routerLink="index.html">
          <img src="/images/vishvena-logo.png"
            srcset="/images/vishvena-logo.png 1x, /images/vishvena-logo.png 2x"
            alt="Vishvena - Let's Build" /></a>
        <button class="plain offcanvas-close offcanvas-nav-close"><i class="jam jam-close"></i></button>
      </div>
      <ul
        class="navbar-nav  ms-auto ">
        
        
        
          <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        
        
        
        
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" routerLink="index.html">Our Divisions</a>
         </li>
        
        
        
        
          <li class="nav-item">
          <a class="nav-link" routerLink="/">Expertise Areas</a>
        </li>
        
        
        
        
          <li class="nav-item">
          <a class="nav-link" routerLink="/">About Us</a>
        </li>
        
        
        
        
          <li class="nav-item">
          <a class="nav-link" routerLink="/">Blog</a>
        </li>
        
        
        
        
          <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        
        
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- /.navbar -->
<div class="offcanvas-info inverse-text">
  <button class="plain offcanvas-close offcanvas-info-close"><i class="jam jam-close"></i></button>
  <a routerLink="">
    <img src="/images/vishvena-logo.png"
      class=" logo "
      alt="Vishvena - Let's Build" />
  </a>
  <div class="space30"></div>
  <p>Discover innovation at Vishvena! Explore our services in Intellectual Property, Artificial Intelligence, Hardware, and Software. Transform your business with us today!</p>
  <div class="space20"></div>
  <div class="widget">
    <h5 class="widget-title">Contact Info</h5>
    <address> No. 4-28/36/1, Kandi, Saraswati Temple Kandi,<br>Sangareddy Medak 502285 Telangana<div class="space20"></div>
      <a routerLink="" class="nocolor"></a><br />
      <a routerLink='' style='color: white;'> </a>
    </address>
  </div>
  <!-- /.widget -->
  <div class="widget">
    
    <h3 class="widget-title">Quick Links</h3>
    
    <ul class="list-unstyled">
      
      <li><a routerLink="about-us" class="nocolor">About Us</a></li>
      
      <li><a routerLink="expertise" class="nocolor">Expertise Area</a></li>
      
      <li><a routerLink="services" class="nocolor">Services</a></li>
      
    </ul>
  </div>
  <!-- /.widget -->
  <div class="widget">
    
    <h3 class="widget-title">Follow Us</h3>
    
    <ul class="social social-mute social-s ms-auto">
      
      <li><a routerLink="https://twitter.com/vishvenatech"><i class="jam jam-twitter"></i></a></li>
      
      <li><a routerLink="https://www.facebook.com/vishvena/"><i class="jam jam-facebook"></i></a></li>
      
      <li><a routerLink="https://www.instagram.com/vishvena_official/"><i class="jam jam-instagram"></i></a></li>
      
      <li><a routerLink="https://www.youtube.com/@vishvena"><i class="jam jam-youtube"></i></a></li>
      
      <li><a routerLink="https://www.pinterest.com/vishvenatech/"><i class="jam jam-pinterest"></i></a></li>
      
    </ul>
  </div>
  <!-- /.widget -->
</div>