<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src=" /assets/images/expertise-bg.webp  ">

    <div class="container inner text-center">
      <div class="space90"></div>
      <h1 class="page-title">Expertise Areas</h1>
      <p class="lead"></p>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Our Fields of Expertise</h2>
      <p class="lead larger text-center">We thrive on tailoring cutting-edge strategies to provide clients with the best solutions in the industry.</p>
      <ul class="nav nav-pills nav-tabs nav-tabs-centered d-flex justify-content-center text-center">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab4-1">
            <div class="icon color-dark"><i class="icofont-micro-chip"></i></div><span>AI</span>
          </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-2">
            <div class="icon color-dark"><i class="icofont-brainstorming"></i></div><span>IoT</span>
          </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-3">
            <div class="icon color-dark"><i class="icofont-cubes"></i></div><span>Drones</span>
          </a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-4">
              <div class="icon color-dark"><i class="icofont-code-alt"></i></div><span>Software</span>
            </a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-5">
                <div class="icon color-dark"><i class="icofont-newspaper"></i></div><span>Intellectual Property</span>
              </a> </li>
      </ul>
      <!-- /.nav-tabs -->
      <div class="space30 d-none d-md-block"></div>
      <div class="tab-content">
        <div class="tab-pane show active" id="tab4-1">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="https://www.vishvena.com/assets/images/concept/con1.webp" alt="AI" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Artificial Intelligence</h2>
                  <p>At Vishvena, we are at the forefront of innovation, utilizing Artificial Intelligence to transform key sectors, including Agriculture, Fleet Management, Health, and Defence. Our commitment lies in delivering cutting-edge solutions that optimize operations, improve efficiency, and drive progress in these vital domains.</p>
                  <p>At Vishvena, we are dedicated to pushing the boundaries of AI applications, contributing to a future where technology creates sustainable solutions and secures our world. Join us as we pioneer advancements that shape the way industries operate and evolve. Vishvena - Where AI meets Excellence.</p>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-2">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="https://www.vishvena.com/assets/images/concept/con2.webp"  alt="IoT" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Internet of Things</h2>
                  <ul class="unordered-list bullet-blue">
                  <li>Specializes in shaping deep tech innovation.</li>
                  <li>Leverages IoT for solutions in healthcare, agriculture, and fleet management.</li>
                  <li>Holds patents for inventions like TRINETRA IoT software and chromatic jaundice detection.</li>
                  <li>Actively revolutionizing farming practices with drone systems. </li>
                  <li>Enhances commercial transportation through camera-based AI devices.</li>
                  <li>Dedicated to transforming industries with viable and valuable deep tech solutions.</li>
                    </ul>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-3">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pl-15 pr-md-0 pl-sm-0 h-100">
                  <h2>Drones</h2>
                  <p>Vishvena's Drone Division: Pushing Boundaries in Aerial Tech. Our expertise in IoT, AI, and advanced hardware drives innovation for agriculture, logistics, and emergency response. Reliability, simplicity, safety, our commitment to revolutionizing sectors is unwavering. Expect big things.</p>
                  <ul class="unordered-list bullet-blue">
                  <li>1. Innovating Aerial Solutions Globally.</li>
                  <li>2. Transforming Industries through Drone Technology.</li>
                  <li>3. Reliable, Safe, and Futuristic Drones.</li>
                    </ul>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pr-15 pl-md-0 pr-sm-0 h-100">
                  <figure><img src="https://www.vishvena.com/assets/images/concept/con3.webp" alt="Drones" /></figure>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-4">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="https://www.vishvena.com/assets/images/concept/con4.webp" alt="Softwares" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Softwares</h2>
                  <p>In our pursuit of technological innovation, Vishvena places a strong emphasis on software solutions that drive efficiency, precision, and advancement across key sectors. Our Software Section plays a pivotal role in reshaping Agriculture, Fleet Management, Health, and Defence. Explore how Vishvena leverages software to catalyze transformative changes</p>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-5">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="https://www.vishvena.com/assets/images/concept/con5.webp"  alt="Policies" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Intellectual Property</h2>
                    <p>"Vishvena specializes in Intellectual Property (IP) services, safeguarding businesses' innovations worldwide. Our tailored solutions cover patents, trademarks, and copyrights, empowering clients to maximize the value of their intangible assets while ensuring legal compliance and competitive advantage"</p>
                  <p>"Vishvena is dedicated to guiding businesses through the complexities of Intellectual Property (IP) management. From patent searches to licensing agreements, our expert team offers strategic support at every stage, helping clients protect and leverage their innovations effectively."</p>
                   </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.container -->
  </div>
  
  
  <div class="wrapper light-wrapper">
    <div class="container inner">
      
      <h2 class="section-title text-uppercase text-center mb-40">News & Updates</h2>
      
      <div class="grid-view">
        <div class="carousel owl-carousel blog-posts" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
            
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              
                <a href="posts/the-top-iot-devices-you-need-in-your-home"><img src="https://www.vishvena.com/assets/images/art/iot_a_6.webp" class="post-thumb" alt="The Top IoT Devices You Need in Your Home"/></a>
              
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="category/all" class="badge rounded-pill  ">All</a>
            </div>
            <h2 class="post-title"><a href="posts/the-top-iot-devices-you-need-in-your-home">The Top IoT Devices You Need in Your Home</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> 16 Jun 2024</span></div>
          </div>
          
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              
                <a href="posts/how-iot-is-reshaping-the-manufacturing-industry"><img src="https://www.vishvena.com/assets/images/art/iot_a_7.webp" class="post-thumb" alt="How IoT is Reshaping the Manufacturing Industry"/></a>
              
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="category/all" class="badge rounded-pill  ">All</a>
            </div>
            <h2 class="post-title"><a href="posts/how-iot-is-reshaping-the-manufacturing-industry">How IoT is Reshaping the Manufacturing Industry</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> 16 Jun 2024</span></div>
          </div>
          
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              
                <a href="posts/what-are-the-current-issues-related-to-intellectual-property"><img src="https://www.vishvena.com/assets/images/art/ip_a_1.webp" class="post-thumb" alt="What Are the Current Issues Related to Intellectual Property"/></a>
              
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="category/all" class="badge rounded-pill  ">All</a>
            </div>
            <h2 class="post-title"><a href="posts/what-are-the-current-issues-related-to-intellectual-property">What Are the Current Issues Related to Intellectual Property</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> 13 Jun 2024</span></div>
          </div>
          
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              
                <a href="posts/the-future-of-intellectual-property-in-the-digital-age"><img src="https://www.vishvena.com/assets/images/art/ip_a_2.webp" class="post-thumb" alt="The Future of Intellectual Property in the Digital Age"/></a>
              
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="category/all" class="badge rounded-pill  ">All</a>
            </div>
            <h2 class="post-title"><a href="posts/the-future-of-intellectual-property-in-the-digital-age">The Future of Intellectual Property in the Digital Age</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> 13 Jun 2024</span></div>
          </div>
          
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              
                <a href="posts/why-iot-integration-is-essential-for-businesses"><img src="https://www.vishvena.com/assets/images/art/iot_a_2.webp" class="post-thumb" alt="Why IoT Integration is Essential for Businesses"/></a>
              
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="category/all" class="badge rounded-pill  ">All</a>
            </div>
            <h2 class="post-title"><a href="posts/why-iot-integration-is-essential-for-businesses">Why IoT Integration is Essential for Businesses</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> 12 Jun 2024</span></div>
          </div>
          
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              
                <a href="posts/unlocking-the-potential-of-iot-in-education"><img src="https://www.vishvena.com/assets/images/art/iot_a_3.webp" class="post-thumb" alt="Unlocking the Potential of IoT in Education"/></a>
              
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="category/all" class="badge rounded-pill  ">All</a>
            </div>
            <h2 class="post-title"><a href="posts/unlocking-the-potential-of-iot-in-education">Unlocking the Potential of IoT in Education</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> 12 Jun 2024</span></div>
          </div>
          
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
    </div>
    <!-- /.container -->
  </div>